    body{
        margin: 0px;
        background-color: black;
    }

    p {
        color: whitesmoke
    }

    h1 {
        color: white;
        font-size: 4rem;
        line-height: 25vh;
    }

    span {
        opacity: 0;
        transition: all 0.4s ease;
        transform: translateY(50px);
        display: inline-block
    }

    span.fade {
        opacity: 1;
        transform: translateY(0px);
        color: blue
    }

    .fancy {
        color: aqua;
    }